@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>
    <b>InterestFinder.com</b><br />
    Mads Heckmann<br />
    <a href="mailto:mads.heckmann@gmail.com">mads dot heckmann at gmail dot com<br /></a>
</p>