@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>InterestFinder</h1>
    <p class="lead">InterestFinder will hook you up with likeminded people or help you discover new interests!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search Interests</h2>
        <p>
            Use our interests section to find people based on a common interest!
        </p>
        <p><a class="btn btn-default" href="/Interest/">Check it out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Share your thoughts and experiences</h2>
        <p>The message system will let you share your thoughts with the world, or privately to friends</p>
        <p><a class="btn btn-default" href="/Messages/">Give a Shoutout! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Completely free to use</h2>
        <p>
             InterestFinder is Open Source,<br /> find the sourcecode on <a href="http://github.com/mhck">github</a>
        </p>
    </div>
</div>